<ul>
  <li>KM
    <ul>
      <li>1</li>
      <li>3</li>
      <li>5</li>
    </ul>
  </li>
  <li>$
    <ul>
      <li>$$</li>
      <li>$$$</li>
    </ul>
  </li>
</ul>


<div id="hidden-thing" style="display:none;"></div>
<button id="badfood">No</button>
<button id="goodfood">Yes</button>
<button id="notfood">Not Food</button>

<div class="list"></div>
